@use "variables" as *;
@use "mixins" as *;

.swiper {
  width: 100%;
  height: 100%;

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $swiper-slide-bg;
  }

  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $swiper-bullet-color;
  }

  @include swiper-navigation;
}
